.custom-alert-1 {
    padding-bottom: 5rem;
    width: 24rem;
    font-weight: 500;
    color: #10b981;
  }
  .custom-h1 {
    padding-bottom: 5rem; /* tương ứng với pb-20 */
    width: 24rem; /* tương ứng với w-96 */
    font-weight: 500; /* tương ứng với font-medium */
    color: #10b981; /* tương ứng với text-green-500 */
  }
  